<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h2>Edit your Listing</h2>
            <form action="/listing/<%= listing._id %>?_method=PUT" method="post">
                <div class="mb-3">
                    <label for="title" class="form-lable">Title</label>
                    <input type="text" name="listing[title]" class="form-control" value="<%= listing.title %>">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-lable">Description</label>
                    <textarea name="listing[description]" rows="3" cols="20" class="form-control"><%= listing.description %></textarea>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-lable">Image</label>
                    <input type="text" name="listing[image]" class="form-control" value="<%= listing.image %>">
                </div>
                <div class="row">
                    <div  class="mb-3 col-md-4">
                        <label for="price" class="form-lable">Price</label>
                        <input type="number" name="listing[price]" class="form-control" value="<%= listing.price %>">
                    </div>
                    <div  class="mb-3 col-md-8">
                        <label for="country" class="form-lable">Country</label>
                        <input type="text" name="listing[country]" class="form-control" value="<%= listing.country %>">
                    </div>
                </div>
                <div  class="mb-3">
                    <label for="location" class="form-lable">Location</label>
                    <input type="text" name="listing[location]" class="form-control" value="<%= listing.location %>">
                </div>
                <button class="btn btn-dark edit-btn mt-3 mb-3">EDIT</button>
            </form>
        </div>
    </div>
</body>